#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main.auth {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .card {
        max-width: 450px;
        margin: 0 auto;
        background-color: rgb(209, 208, 208);
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
}